button{
  width:120px;
  height: 40px;
}

button:hover{
  background-color: aqua;
  cursor: pointer;
}


.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../background.jpg'); /* 경로 확인 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7; /* 투명도 조절 */
  z-index: -1; /* 콘텐츠 뒤에 위치 */
    
}